{% extends 'bash.html' %}

{% block content %}
    {% load static %}
    <div id="LayoutWrapper" style="background: #06121e" class="css-1k0796j-LayoutWrapper e2ppagj0">
	<main id="skip-link_main-content" class="css-btbohs-MainLayout e2ppagj1">
		<div data-qa="BoxOfficeContainer" class="css-7aoyh2-DivWrap en6l7rz0">
			<div data-qa="MovieCarousels" class="css-7aoyh2-DivWrap e1i1bwai0">
				<h1 class="sr-text css-9rfu6l-H1Title e1i1bwai1">Movies</h1>
				<div class="css-4e9a6g-DivListsWrapper e1i1bwai2">
					<div class="css-s9kdrs-DivListWrap e1i1bwai3">
						<div class="css-1uwdckd-DivListTitle e1i1bwai4">
							<div><a aria-label="Opening This Week" id="skip-link_opening-this-week">
									<h2 class="h2 css-1r6jr6e-H2ListTitle e1i1bwai5" style="color: white; font-size: x-large">Trending</h2>
								</a></div><a href="#skip-link_top-box-office" class="skip-link">Skip to
								movies Top Box Office</a>
						</div>
						<div data-qa="Carousel">
							<section data-qa="Carousel__mobile"
								class="css-1vpodai-SectionMobileCarousel efuon190">
								<ul class="css-t9dul2-UlMobileCarousel efuon191">
                                    {% for movie in featured_movies %}
									<li>
										<div>
											<div data-qa="movie"
												class="css-1n1x7x4-DivCarouselMovie e1rfit662" style="width: 200px;">
                                                <a class="focus-item__movie-tile" style="display:block"
													href="{% url 'movie_details' movie.id %}">
													<div class="css-5k5ufu-DivPoster e2b5svk0">
														<div class="css-xuc6y2-DivPosterWrapper e12zdxf40">
															<div
																class="css-156hs8y-DivPosterContainer e12zdxf41">
																<div style="height:0px" class="css-q4ka59-DivPoster e12zdxf42">
                                                                     <img data-qa="LazyImage" src="{{ movie.Poster.url}}" alt="Jockey" class="css-1kf5xd2-ImgLazyImage e1imdblg0">
																</div>
															</div>
														</div>
													</div>
													<div class="css-175zsx4-DivDetails e2b5svk1" style="margin-top: -19px">
														<div class="css-1h4g5hp-DivScores e2b5svk2">
															<span><span class="sr-text">,
																	<!-- -->86% Fresh Tomatometer Score
																</span><svg
																	class="inlineIcon css-6r3srx-icon"
																	aria-hidden="true" focusable="false">
																	<use xlink:href="#Tomato-Fresh"></use>
																</svg><span data-qa="fresh-score"
																	aria-hidden="true" focusable="false"
																	class="css-11czaeu-SpanPercent efkubup0">{{ movie.Rating }}
																	<!-- -->
																</span></span></div>
														<div class="h5 css-5a77sp-DivTitle e2b5svk4"
															data-qa="title">
															<div style="margin-left: 5px" class="row">
                                                                <span class="sr-text">{{ movie.Movie_Name }}</span>
																<div class="LinesEllipsis  "
																	data-qa="summary-short"
																	aria-hidden="true" style="color: white; font-weight: bold; font-size: 15px">{{ movie.Movie_Name }}<wbr></wbr>
																</div>
                                                                <h2 style="color: white; font-size: 12px; opacity: unset">{{ movie.Rating }}<i class="ion-android-star" style="color: yellow"></i></h2>
															</div>
														</div>
													</div>
												</a></div>
										</div>
									</li>
                                    {% endfor %}
								</ul>
							</section>
						</div>
					</div>
					<div class="css-s9kdrs-DivListWrap e1i1bwai3">
						<div class="css-1uwdckd-DivListTitle e1i1bwai4">
							<div><a aria-label="Top Box Office" id="skip-link_top-box-office">
									<h2 class="h2 css-1r6jr6e-H2ListTitle e1i1bwai5" style="color: white; font-size: x-large">Top Box Office</h2>
								</a></div>
							<div class="css-9mc2v6-DivMore e1i1bwai7"><a data-qa="see-all"
									aria-label="See all movies Top Box Office" href="{% url 'movielist' %}"
									class="css-11n058f-ASeeAll e1i1bwai8">See all</a></div>
						</div>
						<div data-qa="Carousel">
							<section data-qa="Carousel__mobile"
								class="css-1vpodai-SectionMobileCarousel efuon190">
								<ul class="css-t9dul2-UlMobileCarousel efuon191">

                                    {% for tr in top_rated %}

									<li>
										<div>
											<div data-qa="movie"
												class="css-1n1x7x4-DivCarouselMovie e1rfit662" style="width: 200px;"><a
													class="focus-item__movie-tile" style="display:block"
													href="{% url 'movie_details' tr.id %}">
													<div class="css-5k5ufu-DivPoster e2b5svk0">
														<div class="css-xuc6y2-DivPosterWrapper e12zdxf40">
															<div
																class="css-156hs8y-DivPosterContainer e12zdxf41">
																<div style="height:0px"
																	class="css-q4ka59-DivPoster e12zdxf42">
                                                                    <img data-qa="LazyImage" src="{{ tr.Poster.url}}" alt="Jockey" class="css-1kf5xd2-ImgLazyImage e1imdblg0">
																</div>
															</div>
														</div>
													</div>
													<div class="css-175zsx4-DivDetails e2b5svk1" style="margin-top: -19px">
														<div class="css-1h4g5hp-DivScores e2b5svk2">
															<span><span class="sr-text">,
																	<!-- -->94% Certified Fresh Tomatometer
																	Score
																</span><svg
																	class="inlineIcon css-6r3srx-icon"
																	aria-hidden="true" focusable="false">
																	<use
																		xlink:href="#Tomato-Certified-Fresh">
																	</use>
																</svg><span data-qa="certified_fresh-score"
																	aria-hidden="true" focusable="false"
																	class="css-11czaeu-SpanPercent efkubup0">94
																	<!-- -->%
																</span></span><span><span class="sr-text">,
																	<!-- -->98% Audience Score
																</span><svg
																	class="inlineIcon css-6r3srx-icon"
																	aria-hidden="true" focusable="false">
																	<use xlink:href="#Popcorn-Upright">
																	</use>
																</svg><span data-qa="upright-score"
																	aria-hidden="true" focusable="false"
																	class="css-11czaeu-SpanPercent efkubup0">98
																	<!-- -->%
																</span></span></div>
														<div class="h5 css-5a77sp-DivTitle e2b5svk4"
															data-qa="title">
															<div class="row" style="margin-left: 5px">
                                                                <span class="sr-text" style="color:white; font-size: 15px; font-weight: bold">{{ tr.Movie_Name}}</span>
																<div class="LinesEllipsis  "
																	data-qa="summary-short"
																	aria-hidden="true" style="color:white; font-size: 15px; font-weight: bold">{{ tr.Movie_Name}}<wbr></wbr>
                                                                </div>
                                                                <h2 style="color: white; font-size: 12px; opacity: unset">{{ tr.Rating }}<i class="ion-android-star" style="color: yellow"></i></h2>
															</div>

														</div>
													</div>
												</a></div>
										</div>
									</li>
                                    {% endfor %}
								</ul>
							</section>
						</div>
					</div>
					<div class="css-s9kdrs-DivListWrap e1i1bwai3">
						<div class="css-1uwdckd-DivListTitle e1i1bwai4">
							<div><a aria-label="Coming Soon" id="skip-link_coming-soon">
									<h2 class="h2 css-1r6jr6e-H2ListTitle e1i1bwai5" style="font-size: x-large; color: white">Web Searies</h2>
								</a></div>
							<div class="css-9mc2v6-DivMore e1i1bwai7"><a data-qa="see-all"
									aria-label="See all movies Coming Soon" href="{% url 'upcoming' %}"
									class="css-11n058f-ASeeAll e1i1bwai8">See all</a></div>
						</div>
						<div data-qa="Carousel">
							<section data-qa="Carousel__mobile"
								class="css-1vpodai-SectionMobileCarousel efuon190">
								<ul class="css-t9dul2-UlMobileCarousel efuon191">
                                    {% for csm in Coming_Soon_Movies %}
									<li>
										<div>
											<div data-qa="movie"
												class="css-1n1x7x4-DivCarouselMovie e1rfit662" style="width: 200px;"><a
													class="focus-item__movie-tile" style="display:block"
													href="{% url 'movie_details' csm.id %}">
													<div class="css-5k5ufu-DivPoster e2b5svk0">
														<div class="css-xuc6y2-DivPosterWrapper e12zdxf40">
															<div
																class="css-156hs8y-DivPosterContainer e12zdxf41">
																<div style="height:0px"
																	class="css-q4ka59-DivPoster e12zdxf42">
                                                                    <img data-qa="LazyImage" src="{{ csm.Poster.url}}" alt="Jockey" class="css-1kf5xd2-ImgLazyImage e1imdblg0">
																</div>
															</div>
														</div>
													</div>
													<div class="css-175zsx4-DivDetails e2b5svk1" style="margin-top: -5px">
														<div class="h5 css-5a77sp-DivTitle e2b5svk4"
															data-qa="title">

															<div class="row" style="margin-left: 5px">
                                                                <span class="sr-text">{{ csm.Movie_Name}}</span>
																<div class="LinesEllipsis  "
																	data-qa="summary-short"
																	aria-hidden="true" style="font-size: 15px; color: white; font-weight: bold">
                                                                    {{ csm.Movie_Name }}<wbr></wbr>
																</div>
                                                                <h2 style="color: white; font-size: 12px; opacity: unset">{{ csm.Rating }}<i class="ion-android-star" style="color: yellow"></i></h2>
															</div>
														</div>

													</div>
												</a></div>
										</div>
									</li>
									{% endfor %}
								</ul>
							</section>
						</div>
					</div>
                    <div class="css-s9kdrs-DivListWrap e1i1bwai3">
						<div class="css-1uwdckd-DivListTitle e1i1bwai4">
							<div>
									<h2 class="h2 css-1r6jr6e-H2ListTitle e1i1bwai5" style="font-size: x-large; color: white">Bollywood</h2>
								</div><a href="#skip-link_first-footer-link" class="skip-link">Skip to
								footer links</a>
							<div class="css-9mc2v6-DivMore e1i1bwai7"><a data-qa="see-all"
									aria-label="See all movies Coming Soon" href="{% url 'Bollywood' %}"
									class="css-11n058f-ASeeAll e1i1bwai8">See all</a></div>
						</div>
						<div data-qa="Carousel">
							<section data-qa="Carousel__mobile"
								class="css-1vpodai-SectionMobileCarousel efuon190">
								<ul class="css-t9dul2-UlMobileCarousel efuon191">
                                    {% for bm in Bollywood_movies %}
									<li>
										<div>
											<div data-qa="movie"
												class="css-1n1x7x4-DivCarouselMovie e1rfit662" style="width: 200px;"><a
													class="focus-item__movie-tile" style="display:block"
													href="{% url 'movie_details' bm.id %}">
													<div class="css-5k5ufu-DivPoster e2b5svk0">
														<div class="css-xuc6y2-DivPosterWrapper e12zdxf40">
															<div
																class="css-156hs8y-DivPosterContainer e12zdxf41">
																<div style="height:0px"
																	class="css-q4ka59-DivPoster e12zdxf42">
                                                                    <img data-qa="LazyImage" src="{{ bm.Poster.url}}" alt="Jockey" class="css-1kf5xd2-ImgLazyImage e1imdblg0">
																</div>
															</div>
														</div>
													</div>
													<div class="css-175zsx4-DivDetails e2b5svk1" style="margin-top: -5px">
														<div class="h5 css-5a77sp-DivTitle e2b5svk4"
															data-qa="title">
															<div class="row" style="margin-left: 5px">
                                                                <span class="sr-text">{{ bm.Movie_Name}}</span>
																<div class="LinesEllipsis  "
																	data-qa="summary-short"
																	aria-hidden="true" style="font-size: 15px; color: white; font-weight: bold">
                                                                    {{ bm.Movie_Name }}<wbr></wbr>
																</div>
                                                                <h2 style="color: white; font-size: 12px; opacity: unset">{{ bm.Rating }}<i class="ion-android-star" style="color: yellow"></i></h2>
															</div>
														</div>
													</div>
												</a></div>
										</div>
									</li>
									{% endfor %}
								</ul>
							</section>
						</div>
					</div>
                    <div class="row">

			</div>
				</div>
			</div>
		</div>
	</main>

</div>

<div class="trailers full-width">
		<div class="row ipad-width">
			<div class="col-md-9 col-sm-12 col-xs-12">
				<div class="title-hd">
					<h2>in theater</h2>

				</div>
				<div class="videos">
				 	<div class="slider-for-2 video-ft">
                        {% for movie in featured_movies %}
					   <div>
                            <iframe class="item-video" src="#" data-src="https://www.youtube.com/embed/{{ movie.Trailer }}"></iframe>
					    </div>
					    {% endfor %}
					</div>
					<div class="slider-nav-2 thumb-ft">
                        {% for movie in featured_movies %}
						<div class="item">
							<div class="trailer-img">
								<img src="{{movie.Poster.url}}"  alt="moviebeast" width="4096" height="2737">

							</div>
							<div class="trailer-infor">
	                        	<h4 class="desc">{{ movie.Movie_Name}}</h4>
	                        	<p>2:30</p>
	                        </div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-12 col-xs-12">
				<div class="sidebar">
					<div class="celebrities">
						<h4 class="sb-title">Advertisement</h4>
						<div class="ads">
							<img src="{% static 'images/uploads/ads1.png' %}" alt="" width="428" height="306">
						</div>
					</div>
				</div>
			</div>
		</div>

</div>

{% endblock %}